<!DOCTYPE html>
<html>
<head>
    <title>Map Your Photo - A photographers guide</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script src="/leaflet.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/leaflet-beautify-marker-icon.css">
    <script src="/leaflet-beautify-marker-icon.js"></script>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/leaflet.css"/>
    <link rel="stylesheet" href="/main.css"/>
    <script defer src="/script.js"></script>
    <script src="https://use.fontawesome.com/302da21a09.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjs@11.5.0/lib/browser/math.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WB4ZCCLGB3"></script>
</head>
<body> 
    <div id="map">

        
        <section>
            <div class="box" id="box" onclick="blockClick(event)">
                <button class="btn" id="add" onclick="addphotosopen();"><i class="fa fa-plus-circle"></i> Add Photo</button>
                <button class="btn" id="myphotos" onclick="myphotos();"><i class="fa fa-camera-retro"></i> My Photos</button>
                <button class="btn" id="myfavs" onclick="myfavs(event);"><i class="fa fa-heart"></i> My Favorites</button>
                {{!-- <button class="btn" id="search" onclick="mysearch();"><i class="fa fa-search"></i> Search</button> --}}
                <button class="btn" onclick="toplist();" id="top"><i class="fa fa-list"></i> Top 10</button>
                <button class="btn" id="about" onclick="aboutopen();"><i class="fa fa-info"></i> About</button>
                <button class="btn" onclick="myAccountopen();" id="myaccount"><i class="fa fa-user"></i> My Account</button>
                <button class="btn" onclick="logout();" id="logout"><i class="fa fa-sign-out"></i> Logout</button>
            </div>

            

            <div class="footer" id="footer">
                <h1 id="footer-text" >Zoom in to see photos on the map</h1>
                <select name="" id="toplist" class="footer-toplist">
                    <option value="">Select A List</option>
                    <option value="toplikes" >10 Most Liked Photos</option>
                    <option value="topfavs" >10 Favorites Photos</option>
                    <option value="topviews" >10 Most Viewed Photos</option>
                    
                    
                </select>
                <button onclick="saveMapMarker();" class="btn footer-btn" id="footer-btn">Use this location</button>
                <button onclick="disableSearch();" class="btn footer-btn-search" id="footer-btn-search">Close Search</button>
            </div>
            </section>






        <div class="add"  onclick="blockClick(event)">
            <div class="add-box">
                <div class="add-photo-grid-container">
                    <div id="titlebox" class="add-photo-item11"><input id="title" placeholder="Photo Title" id="title" class="add-inputs title"></div>
                    <div id="image" class="add-photo-item1 add-image"></div>
                    <div id="camera" class="add-photo-item3"><input id="cameratext" placeholder="Camera" class="add-inputs"></div>  
                    <div id="lens" class="add-photo-item4"><input id="lenstext" placeholder="Lens" class="add-inputs"></div>
                    <div id="shutter" class="add-photo-item5"><input id="shuttertext" placeholder="Shutter Speed" class="add-inputs"></div>
                    <div id="iso" class="add-photo-item6"><input id="isotext" placeholder="ISO" class="add-inputs"></div>
                    <div id="fstop" class="add-photo-item7"><input id="fstoptext" placeholder="fstop" class="add-inputs"></div>
                    <div id="cat" class="add-photo-item8"><select id="catSelect"></select></div>
                    <div id="infobox" class="add-photo-item9"> <h6>Photo Description</h6><textarea name="info" id="infotext" cols="30" rows="10"></textarea> </div>
                    <div class="tag">

                        <div id="keywords" class="multi-search-filter" onclick="Array.from(this.children).find(n=>n.tagName==='INPUT').focus()">
                            <input type="text" onkeyup="multiSearchKeyup(this)">
                        </div>
                    </div>
                        


                    <div id="addfile" class="add-photo-item10"><input id='files' type="file" accept="image/jpeg" onchange="uploadPic()"></div>
                    <div id="latlng" class="add-photo-item12"><p class="gpspoints" id="lat">Lat</p> <p class="gpspoints" id="lng">Lng</p><button onclick="setMapMarker();" id="GPSselect" class="btn btn-small gps-btn">Select</button></div>
                    <div class="add-photo-item13"><button class="btn btn-small" onclick="SaveImage();">Save</button><button class="btn btn-small" onclick="addphotosclose();">Cancel</button></div>
                  </div>
            </div>
        </div>


 <div class="myaccount" id="myaccount" onclick="blockClick(event)">
            <div class="myaccount-box">
                <div class="myaccount-title">My Account Manager</div>

               
                    <div class="wrapper">
                        <div class="tabs cf">
                            <input type="radio" name="tabs" class="tab1" id="tab1" checked>
                            <label for="tab1">
                            Photo Manager
                        </label>
                            <input type="radio" name="tabs" id="tab2">
                            <label for="tab2">
                            Social Link Manager
                        </label>
                            <input type="radio" name="tabs" id="tab3">
                            <label for="tab3">
                            Account Settings
                        </label>

                            <div id="tab-content1" class="tab-content">
                               <div class="my-photo-picker">
                               
                               <h3 class="photo-name-label">Photo: </h3>
                               <select name="photoname" class="account-photo-select" id="myphto">
                                    <option value="">Select A Photo</option>
                               </select>
                                </div>

                            <div class="my-account-photo-box">
                               
                                <div class="photo-info">
                                    
                                    <img class="myaccount-photo" src="./img/c2c928d3c9defe137c81f9138596e653.jpg"></img>
                                    <button class="btn published"> Publish</button>
                                </div>

                                <div class="my-account-photo-info">
                                    
                                    <center>
                                    <div class="account-camerinfo-div">
                                        <p class="account-camerainfo-text">Camera </p>
                                        <input type="text" class="account-camerainfo-textbox" name="" id="a">
                                    </div>

                                    <div class="account-camerinfo-div">
                                        <p class="account-camerainfo-text">Lens</p>
                                        <input type="text" class="account-camerainfo-textbox" name="" id="a">
                                    </div>

                                    <div class="account-camerinfo-div">
                                        <p class="account-camerainfo-text">ISO</p>
                                        <input type="text" class="account-camerainfo-textbox" name="" id="a">
                                    </div>

                                    <div class="account-camerinfo-div">
                                        <p class="account-camerainfo-text">Apature</p>
                                        <input type="text" class="account-camerainfo-textbox" name="" id="a">
                                    </div>  

                                    <div class="account-camerinfo-div">
                                        <p class="account-camerainfo-text">Shutter Speed</p>
                                        <input type="text" class="account-camerainfo-textbox" name="" id="a">
                                    </div>

                                     <div class="account-camerinfo-div">
                                        <p class="account-camerainfo-text">Description</p>
                                        <textarea name="" id="" class="account-camerainfo-textarea" cols="60" rows="20"></textarea>
                                    </div>

                                    <div class="account-camerinfo-div">
                                        <button class="btn">Save</button>

                                    </div>

                                    

                                    </center>
                                </div>


                                </div>
                            </div>

                            <div id="tab-content2" class="tab-content">
                                
                                <center>
                                    <div class="social-grid-container">
                                    <div class="social-grid-item">
                                        <img src="/img/social/fb.png" alt="facebook" class="social-logo" srcset="">
                                        <br>
                                        <input type="text" class="social-link-box">
                                        <br>
                                        <button class="btn">Save</button>

                                    </div>

                                    <div class="social-grid-item">
                                        <img src="/img/social/in.png" alt="facebook" class="social-logo" srcset="">
                                        <br>
                                        <input type="text" class="social-link-box">
                                        <br>
                                        <button class="btn">Save</button>
                                    </div>

                                    <div class="social-grid-item">
                                        <img src="/img/social/tiktok.png" alt="facebook" class="social-logo" srcset="">
                                        <br>
                                        <input type="text" class="social-link-box">
                                        <br>
                                        <button class="btn">Save</button>
                                    </div>

                                    <div class="social-grid-item">
                                        <img src="/img/social/you.png" alt="facebook" class="social-logo" srcset="">
                                        <br>
                                        <input type="text" class="social-link-box">
                                        <br>
                                        <button class="btn">Save</button>
                                    </div>

                                    <div class="social-grid-item">
                                        <img src="/img/social/twitter.png" alt="facebook" class="social-logo" srcset="">
                                        <br>
                                        <input type="text" class="social-link-box">
                                        <br>
                                        <button class="btn">Save</button>
                                    </div>

                                    <div class="social-grid-item">
                                        <img src="/img/social/web.png" alt="facebook" class="social-logo" srcset="">
                                        <br>
                                        <input type="text" class="social-link-box">
                                        <br>
                                        <button class="btn">Save</button>
                                    </div>












                                </div>

                                </center>
                                
                            </div>

                            <div id="tab-content3" class="tab-content">
                                <center>
                                    <div class="account-grid-container">
                                    <div class="account-grid-item">
                                        <h5>Change your Profile Picture</h5>
                                        <br>
                                        <img src="/img/profile/default.png" alt="" class="account pic">
                                        <br>
                                        <button class="btn">Save</button>

                                    </div>

                                    <div class="account-grid-item">
                                        <h5>Change your Password</h5>
                                        <br>
                                        <button class="btn">Save</button>
                                    </div>

                                    <div class="account-grid-item">
                                        <h5>Change your Default Map View</h5>
                                        
                                        <input type="text" class="social-link-box">
                                        <br>
                                        <button class="btn">Save</button>
                                    </div>
                                  
                                </div>

                                </center>
                            </div>
                        </div>

                    </div>       

                        <center><button class="btn account-btn" onclick="myAccountclose();">Close</button></center>

                  </div> 
            </div>
        </div>



        <div class="about" id="about_box" onclick="blockClick(event)">
            <div class="about-box">
                <div class="about-title">Map Your Photos</div>

                <div class="about-body">
                    <img src="./joe.jpg" class="about-joe">
                    <p class="about-text">Map your Photos was an idea I had since 2008, however I did not have the programming skills to build it. Fast forword a few years and an app can Stuck on Earth came out that had a very similar idea. <br><br>

                   Now that I am learning software development and Stuck on Earth is discontinued, I wanted to take a stabe at building it. It is not done, but I am working on more features.</p>
                </div>

                <div class="about-footer">
                    <button class="github btn" onclick="window.location = 'https://github.com/jfeyen4249/photo_map'">View on Github</button>
                    <button class="about-close btn" onclick="aboutclose();">Close</button>
                </div>
            </div>
        </div>

        
       

        <div class="view-photo"  onclick="blockClick(event)">
            <input id="picid">
            <div class="view-box" id="view-photo">
                <div class="photo-grid-container">
                    <div class="photo"></div>
                    <div class="info">
                        
                    <h1 id="pic-title" class="pic-title"></h1>
                        <div class="tabs">
                                <input type="radio" class="tabs__radio" name="tabs-example" id="photoinfo" checked>
                                <label for="photoinfo" class="tabs__label">Photo Info</label>
                                <div class="tabs__content" id="view-info">
                                  
                                    <div class="view-camera"> Camera: <span id="camera-body"></span></div>
                                    <div class="view-camera">Lens: <span id="camera-lens"></span></div>
                                    {{!-- <button class="btn  btn-action" onclick="like();" id="like-btn" ><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span id="likes">0</span> Likes</button>
                                    <button class="btn btn-action" onclick="addfav()" id="favorite-btn" ><i class="fa fa-star" aria-hidden="true"></i>  Favorite</button> --}}
                                        <h3 class="view-camera-title"> Camera Settings </h3>
                                    <div class="view-setting-box">
                                        <div class="view-settings">
                                            <p class="view-camera-settings">ISO<br><span  id="camera-iso">200</span></p>
                                            </div>
                                        <div class="view-settings">
                                            <p class="view-camera-settings">Apature <br> <span id="camera-fstop">f/8</span></p>
                                        </div>
                                        <div class="view-settings">
                                            <p class="view-camera-settings">Shutter <br><span id="camera-shutter">1/4000</span></p>
                                        </div>
                                    </div>
                                    
                                   <p class="view-text" id="info"></p>
    
                                </div>

                                <input type="radio" class="tabs__radio" name="tabs-example" id="comments">
                                <label for="comments" class="tabs__label">Comments (<span id="comment-count"></span>)</label>
                                <div class="tabs__content">
                                  
                                  <div class="comment-main" id="comment-box">
                                   
                                    {{!-- <div class="user-comments">
                                        <div class="comment-box">
                                            <div class="comment-layout">
                                                <div>
                                                <div class="comment-pic"></div> 
                                                <center><span class="comment-name" id="comment-name">jfeyen</span></center>
                                                </div>
                                                <p class="comment-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, incidunt dignissimos corporis eligendi quia aspernatur deleniti praesentium totam quo labore optio doloremque est, rerum explicabo. Est optio, nesciunt libero at consequatur laboriosam possimus reiciendis modi facere, consequuntur autem ratione, rerum id eum doloremque voluptates perspiciatis! Expedita odio excepturi, pariatur earum modi deserunt dolore in nisi itaque tempora ad cupiditate labore consequuntur quae dolor placeat eveniet, soluta minima praesentium doloremque perferendis beatae. Vero, ratione assumenda nesciunt expedita quisquam distinctio mollitia exercitationem dolores aperiam soluta esse iste ab consequatur illo optio error natus voluptates, quis pariatur provident minus omnis rem sapiente repellat.</p>
                                                
                                            </div>  
                                            <center> <button class="comment-like-btn" onclick="alert('Liked');"><i class="fa fa-thumbs-o-up comment-thumb" aria-hidden="true"></i>  Like</button> </center>
                                        </div>
                                    </div> --}}

                                    {{!-- <div class="user-comments">
                                        <div class="comment-box">
                                            <div class="comment-layout">
                                                <div>
                                                <div class="comment-pic"></div> 
                                                <center><span class="comment-name" id="comment-name">jfeyen</span></center>
                                                </div>
                                                <p class="comment-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, incidunt dignissimos corporis eligendi quia aspernatur deleniti praesentium totam quo labore optio doloremque est, rerum explicabo. Est optio, nesciunt libero at consequatur laboriosam possimus reiciendis modi facere, consequuntur autem ratione, rerum id eum doloremque voluptates perspiciatis! Expedita odio excepturi, pariatur earum modi deserunt dolore in nisi itaque tempora ad cupiditate labore consequuntur quae dolor placeat eveniet, soluta minima praesentium doloremque perferendis beatae. Vero, ratione assumenda nesciunt expedita quisquam distinctio mollitia exercitationem dolores aperiam soluta esse iste ab consequatur illo optio error natus voluptates, quis pariatur provident minus omnis rem sapiente repellat.</p>
                                                
                                            </div>  
                                            <center> <button class="comment-like-btn" onclick="likeComment(this);"><i class="fa fa-thumbs-o-up comment-thumb" aria-hidden="true"></i>  Like</button> </center>
                                        </div>
                                    </div> --}}

                                  </div>
                                    <div class="add-comment">
                                    <textarea name="" id="commenttext" cols="55" rows="5"></textarea>
                                    <button onclick="commentPost()">Comment</button>
                                    </div>
                                </div>


                                <input type="radio" class="tabs__radio" name="tabs-example" id="social">
                                <label for="social" class="tabs__label">About the Photographer</label>
                                <div class="tabs__content">
                                  
                                    <div class="view-about-photographer">

                                        <button class="btn social-btn"><i class="fa fa-facebook-official facebook" aria-hidden="true"></i> Facebook</button>
                                        <button class="btn social-btn"><i class="fa fa-instagram instragram" aria-hidden="true"></i> Instagram</button>
                                        <button class="btn social-btn"><i class="fa fa-twitter facebook " aria-hidden="true"></i> Twitter</button>
                                        <button class="btn social-btn"><iconify-icon icon="simple-icons:tiktok" class="tiktok"></iconify-icon> Tiktok</button>
                                        <button class="btn social-btn"><i class="fa fa-chrome website" aria-hidden="true"></i> Website</button>                               
                                    </div>
                                </div>
                          </div>
                    </div>  
                    
                  </div> 
                    <div class="tags">
                        <div class="tag-title">Tags:</div>
                        <div class="tag" id="keyword-tag">
                            
                        </div>
                    </div>

                  <div class="view-ctrbtn">
                    <button class="btn btn-small" onclick="lastpic()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Prev</button>
                    <button class="btn btn-small" onclick="like();" id="like-btn" ><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span id="likes">0</span> Likes</button>
                    <button class="btn btn-small" onclick="addfav()" id="favorite-btn" ><i class="fa fa-star" aria-hidden="true"></i> Favorite</button>
                    <button class="btn btn-small" onclick="nextpic()">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    <button class="btn btn-small" id="cloes-btn" onclick="closePhoto()"> <i class="fa fa-window-close" aria-hidden="true"></i> Close</button>
                  </div>
            </div>
        </div>

        <div class="login" id="login_box" onclick="blockClick(event)">
            <div class="login-box">
                <div class="login-grid-container">
                    <div class="item1">Sign up or log into your Account</div>
                    <div class="item2">
                        <center>
                            <br>
                        Login
                        <input name="username"type="text" id="username" placeholder="Username" class="login-boxes" type="text" onclick="blockClick(event)" required>
                        <input name="password" id="password" placeholder="Password" class="login-boxes" type="password" onclick="blockClick(event)" required>
                        <button class="btn" onclick="login();"><i class="fa fa-key"></i> Login</button>
                        <button class="btn" onclick="guest();"><i class="fa fa-key"></i> View as Guest</button>
                        </center>
                    </div>
                    <div class="item3"><hr width="1" size="300"></div>  
                    <div class="item4">
                        <center>
                        Sign up
                       <form action="/register" method="post">
                        <input name="email" placeholder="Email Address" class="login-boxes">
                        <input name="newusername"  placeholder="Select a Username" class="login-boxes">
                        <input name="newpassword" placeholder="Password" class="login-boxes" type="password">
                        <input name="newpassword1" placeholder="Re-Enter Password" class="login-boxes" type="password">
                        <input name="fname" placeholder="First Name" class="login-boxes">
                        <input name="lname" placeholder="Last Name" class="login-boxes">
                        <button id="sign-up" class="btn" type="submit"><i class="fa fa-user-plus"></i> Sign Up</button>
                        </form>
                    </center>
                    </div>
                  </div>
            </div>
        </div>

        
    </div>
</body>
</html>