*{
    box-sizing: border-box;
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;

}
html, body, #map {
    height: 100%;
    width: 100%;
}



.fa-heart {
    color: black;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2%; */
}


.multi-search-filter{
    border:1px solid #DDD;
    border-radius: 3px;
    padding:3px;
    min-height: 26px;
    width: 60px;
}
.multi-search-filter > input {
    border: 0px;
    outline: none;
    font-size: 20px;
}
.multi-search-item {
    margin: 2px;
    padding: 2px 24px 2px 8px;
    float: left;
    display: flex;
    background-color: rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    border-radius: 3px;
    position: relative;
}
.multi-search-item > span {
    font-family: 'Muli';
    line-height: 18px;
}
.multi-search-item > .fa {
    font-size: 12px;
    line-height: 18px;
    margin-left: 8px;
    position: absolute;
    right: 8px;
    top: 2px;
}


section .box {
    display: block;
    z-index: 5;
    position: relative;
    width: auto;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    color: #000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    animation-name: navanimate;
    animation-duration: 1s;
}

section .footer {
    display: block;
    z-index: 5;
    position: fixed;
    min-width: 20%;
    bottom: 0;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(25px);
    color: #000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.upload {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.upload-box {
    display: none;
    z-index: 1;
    position: relative;
    width: 80%;
    height: 60%;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    color: #000;
    border-radius: 15px;
   
}

.login {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    min-width: 100vw;
}

.login-box {

    display: none;
    z-index: 1;
    position: relative;
    width: 40%;
    height: 60%;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    color: #000;
    border-radius: 15px;
    margin-top: -125vh;
}

.about-box {

    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    min-height: 60%;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    color: #000;
    background-color: #d6430dcb;
    border-radius: 15px;
    flex-direction: column;

}

.about-title {
    color: white;
    font-size: 24px;
    font-weight: 700;

}

.about-joe {
    width: 30%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.about-body {
    display: flex;
}

.about-text {
    padding: 20px;
    margin-left: 10px;
    font-size: 18px;
    color: white;
}

.about-footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.github {
    margin-left: 1rem;
}
.about-footer > button {
    min-width: 250px;
}

.myaccount-box {
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80vw;
    min-height: 80vh;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    color: #000;
    background-color: #175f0963;
    border-radius: 15px;
    flex-direction: column;
}

.myaccount-title {
    font-size: 26px;
}


.account-photo-select {
    width: 400px;
}

.photo-name-label {
    margin-right: 1rem;
    font-size: 14px;
}

.account-btn {
    width: 35vw;
}

.my-photo-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;


}

.myaccount-photo {
    float: left;
    margin-left: 1rem;
    height: auto;
    width: 30vw;
}

.tab1 {
    display: flex;
    flex-direction: column;
}

.my-account-photo-box {
    display: flex;
    justify-content: space-around;
}

.photo-info {
    display: flex;
    flex-direction: column;
    width: 35vw;
    justify-content: center;
    align-items: center;
}

.published {
   
}

.my-account-photo-info {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.account-camerinfo-div {
    width: 30vw;
    height: 40px;
    margin-top: 10px;
  
    /* border: #000 2px solid; */
}

.account-camerinfo-div:last-child {
    
    margin-top: 130px;

}

.account-camerainfo-text {
    margin-right: 405px;
    margin-bottom: -1px;
}


.account-camerainfo-textbox {
    width: 25vw;
    height: 30px;
}

.account-camerainfo-textarea {
    width: 25vw;
    height: 150px;
}


.social-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 5px;
    height: 60vh;
  }
  .social-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 1fr;
  }

.social-logo {
    height: 100px;
    width: auto;
}

.social-link-box {
    height: 30px;
    width: 95%;
}

.account-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 5px;
    height: 60vh;
  }
  .account-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 1fr;
  }

  .account.pic {

    margin-top: -20px;
    width: 105px;
    height: 105px;
    border: green 2px solid;
    border-radius: 10px;
  }















/* 


/* highlight colors */
::-moz-selection {
  background-color: #333;
  color: white;
}

::selection {
  background-color: #333;
  color: white;
}

/* wrapper */
.wrapper {
  max-width: 100%;
  min-height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* tabs */
.tabs {
  border-right: 1px solid #ccc;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs input[type=radio] {
  display: none;
}
.tabs label {
  display: block;
  float: left;
  width: 33.33333%;
  padding: 1em;
  border: 1px solid #ccc;
  border-right: none;
  background-color: #f7f7f7;
  text-align: center;
  font-weight: 700;
  color: coral;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}
.tabs label:hover {
  background-color: white;
}
.tabs [id^=tab]:checked + label {
  border-bottom-color: white;
  background: white;
  color: #333;
}

.tab-content {
  display: none;
  float: left;
  min-width: 78vw;
  height: 66vh;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: white;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}

.other-content {
  color: white;
}

@media only screen and (max-width: 768px) {
  body, html {
    font-size: 18px;
  }
}
@media only screen and (max-width: 645px) {
  .tabs label {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body, html {
    font-size: 16px;
  }
}


 */















































input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
   } 

.add {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.add-box {
    display: none;
    z-index: 1;
    position: relative;
    content: " ";
    min-width: 80%;
    max-width: 80%;
    min-height: 81vh;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    color: #000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.add-photo-item1 { grid-area: gps; }
.add-photo-item2 { grid-area: file; }
.add-photo-item3 { grid-area: camera; }
.add-photo-item4 { grid-area: lens; }
.add-photo-item5 { grid-area: iso; }
.add-photo-item6 { grid-area: shutter; }
.add-photo-item7 { grid-area: fstop; }
.add-photo-item8 { grid-area: cat; }

.add-photo-item9 { grid-area: info; }
.add-photo-item10 { grid-area: add; }
.add-photo-item11 { grid-area: title; }
.add-photo-item12 { grid-area: location; }
.add-photo-item13 { grid-area: button; }
.add-photo-item14 { grid-area: tag; }

.add-photo-grid-container {
  display: grid;
  min-height: 80vh;

  margin-top: 10px;
  grid-template-rows:  75px 75px 75px 75px auto 75px 75px ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  	'title title title title'
    'gps gps camera lens'
    'gps gps shutter fstop'
    'gps gps iso cat'
    'gps gps info info'
    'tag tag tag tag'
    'location location add button';
  grid-gap: 3px;
  /* background-color: #2195f328; */
  padding: 10px;
}

.add-photo-grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 5px 0;
  /* font-size: 30px; */
  border: 2px solid black;
  border-radius: 10px;
}

.add-image {
    background-color: black;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.add-inputs {
    height: 35px;
    font-size: 28px;
    margin: 10px;
    width: 265px;
    text-align: center;
    border-radius: 8px;
}

.tag {
    width: 100%;
}

.title {
   width: 80%; 
}

#GPSselect {
    z-index: 6;
}

.gpspoints {
    display: inline-block;
}

.gps-btn {
    float: right;
    margin-right: 10px;
}

.file {
    color: transparent;
}









#map{
    position: relative;
  
}

.btn {
background-color: white;
border-radius: 18px;
height: 50px;
width: 210px;
margin-top: 5px;
font-size: 20px;
}

.btn:hover {
    background-color: #44790756;
    color: white;
}

.btn-small {
    width: 90px;
    font-size: 14px;
    margin-left: 15px;
    margin: 0;
}

.btn-like {
    color: white;
    background-color: #00BFFF;
}

.btn-favorite {
    color: white;
    background-color: #FF6347;
}

#picid {
    display: none;
}



.login-boxes {
    
    margin: 10px;
    padding: 0;
    display: block;
    height: 40px;
    width: 95%;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    line-height:18px;
    font-family: sans-serif;

}


.item1 { grid-area: header; }
.item2 { grid-area: login; }
.item3 { grid-area: divider; }
.item4 { grid-area: signup; }


.login-grid-container {
  display: grid;
  z-index: 5;
  grid-template-columns: 1fr 1fr 5px 1fr 1fr;
  grid-template-areas:
    'header header  header header header'
    'login login  divider signup signup';
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.login-grid-container > div {
z-index: 5;
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}



.view-photo {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -100vh;
}

@keyframes photoViewIn {
    0% {
        opacity: 0;
        transform: translatex(-400px);
    }
    50% {
        opacity: .5;
    }

    75% {
        opacity: .8; 
        transform: translatex(50px);
    }

    100% {
        opacity: 1; 
        transform: translatex(0px);
    }
}


@keyframes navanimate {
    0% {
        opacity: 0;
        transform: translatex(-400px);
    }
    50% {
        opacity: .5;
    }

    75% {
        opacity: .8; 
        transform: translatex(50px);
    }

    100% {
        opacity: 1; 
        transform: translatex(0px);
    }
}

.view-box {
    display: block;
    z-index: 5;
    position: relative;
    width: 95%;
    min-height: 80vh;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    text-align: center;
    background: transparent;
    backdrop-filter: blur(50px);
    color: #000;
    border-radius: 15px;
    animation-name: photoViewIn;
    animation-duration: .5s;
}


.photo { grid-area: photo; }
.camera { grid-area: camera; }
.info{ grid-area: info; }

.photo-grid-container {
  display: grid;
  height: 78vh;
    width: 99%;
  grid-template-areas:
    'photo info '
    'photo info'
    'photo info';
  grid-gap: 10px;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 5fr;
  /* background-color: #2196F3; */
  padding: 10px;
  margin-top: 60px;
  
}

.photo-grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.photo {
    background-image: url('');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin:padding-box;
}

.photo-details {
    
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 50%;
    
}

.camerainfo {
    
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #60645c56;
    color: white;
    border-radius: 10px;
}

.camera-settings {
    font-size: 14px;
  
}

.tags {
    float: left;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.tag-title {
   font-size: 24px;
   font-weight: 600; 
   margin-right: 10px;
   margin-left: 20px;
    
}

.tag {
    display: flex;
    flex-direction: row;
    width: 60vw;
}

.keyword-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    font-size: 12px;
    flex-direction: row;
    background-color: #44790756;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    width: 99%;
  }
  
  .tabs__label {
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    order: 1;
    width: 100%;
    margin-top: 15px;
    line-height: 1.5;
    font-size: 12px;
    display: none;
    text-align: left;
    margin-bottom: 60px;
  }
  
  .tabs__radio:checked + .tabs__label {
    
    color: black;
    border-bottom: 3px solid #44790756;
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }

  .camerainfo {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #60645c56;
    color: white;
    border-radius: 10px;
}

.camera-settings {
    font-size: 14px;
  
}

.tag {
    display: flex;
    flex-direction: row;
}

.view-text  {
    margin-top: 0px;
    overflow-x: scroll;
    min-height: 200%;
}

.view-info {
    font-size: 12px;
    padding-top: 10px;
    min-height: 20vh;
    min-width: 100%;
}


.view-about-photographer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.facebook {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    color: steelblue;
}

.instragram {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    color: #f09433; 
    color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    color: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      
}

.website {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    color: orangered;
}

.tiktok {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    color: Black;
}

.social-btn {
    width: 100%;
    height: 65px;
    margin-bottom: 20px;
}

.view-text {
    font-size: 12px;
    overflow: hidden;
    margin-top: 60px;
}

.btn-action {
    width: 150px;
}

.view-setting-box {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    margin-top: 10px;
    padding: 10px;
    /* background-color: #0a525244; */
    border-radius: 15px;
    margin-top: 10px;
}

.view-settings {
    background-color: #5c5e5e44;
    width: 80px;
    height: 55px;
    text-align: center;
    border-radius: 15px;
    line-height: 20px;
}

.pic-title {
    margin-top: -10px;
    padding: 0;
}

.view-ctrbtn {
    float: right;
    margin-right: 20px;
}

.comment-main {

    width: 99%;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.add-comment {
    bottom: 0;
    position: fixed;
    margin-bottom: 80px;
    width:auto;
}

.user-comments {
    display: flex;
    flex-direction: column;
}

.comment-box{
    margin-top: 20px;
    background-color: #e4e5de;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .7);
    padding: 1rem;
    margin-right: 10px;

}

.comment-box:last-child {
    margin-bottom: 25px;
}

.comment-layout {
    display: flex;
}


.comment-pic {
    height: 75px;
    width: 75px;
    /* background-image: url('./img/avatar.png'); */
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.comment-name {
    padding-top: 80px;
    text-align: center;
}

.comment-text {
    margin-top: 2px;
    margin-left: 1rem;
}

.comment-like-btn {
    width: 95%;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    color: black;
    border: none;
}

.comment-thumb {
    fill: white;
}




























h1 {
    font-size: 28px;
    font-weight: 200;
    text-decoration: underline;
    
}

.info {
    margin: 0;
}

#info {
    font-size: 18px;
    font-weight: 100;
    margin-top: 0px;
}

.photo-btn {
    height: 55px;
    width: 55px;
}

#addmap {
    width: 100%;
}

.footer-btn {
    display: none;
    width: 99%;
}

.footer-btn-search {
    display: none;
    width: 99%;
}

.footer-toplist {
    display: none;
    width: 400px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

select {
    height: 40px;
    font-size: 18px;
}





textarea {
    width: 96%;
    height: 80%;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 28px;
}


.sbox{
    display: none;
    z-index: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%);
}

.sbox.active {
    display: block;
}

.sbox.active {
    z-index: 8;
}

.searchBox {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}



.searchBox .dropdown .defaultOption{
    width: 150px;
    height: 60px;
    line-height: 60px ;
    text-align: center;
    cursor: pointer;
    border-right: 2px solid rgb(168,168, 168);
    color: rgb(70,70,70);
}

.searchBox .dropdown ul{
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 70px;
    background-color: white;
    width: 150px;
    text-align: center;
    padding-top: 20px;
} 

.searchBox .dropdown ul.active{
    display: block;
}


.searchBox .dropdown ul li{
    padding-bottom: 20px;
    color: rgb(70,70,70);
    cursor: pointer;
    text-align: center;
}

.wrapper .searchBox .searchField {
    width: 450px;
    height: 60px;
    position: relative;
}

.wrapper .searchBox .searchField input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
}

.wrapper .searchBox .searchField i {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 60px;
    cursor: pointer;
}

.multi-search-filter{
    border:1px solid #DDD;
    border-radius: 3px;
    padding:3px;
    min-height: 26px;
    width: 60px;
}
.multi-search-filter > input {
    border: 0px;
    outline: none;
    font-size: 20px;
}
.multi-search-item {
    margin: 2px;
    padding: 2px 24px 2px 8px;
    float: left;
    display: flex;
    background-color: rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    border-radius: 3px;
    position: relative;
}
.multi-search-item > span {
    font-family: 'Muli';
    line-height: 18px;
}
.multi-search-item > .fa {
    font-size: 12px;
    line-height: 18px;
    margin-left: 8px;
    position: absolute;
    right: 8px;
    top: 2px;
}